.card {
    position: relative;
    z-index: 5;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

input.title{
    margin-top: 0em;
    margin-left: 0.5em;
    font-size: 1em;
    outline: none;
    border: 0;
    width: 90%;
    line-height: 3em;
}

input.title::placeholder{
    font-style: italic;
}

.stbutton{
    margin-right: 0.5em;
    width: 2em;
    height: 2em;
    cursor: pointer;
/* 
    position: relative;
    left: calc(100% - 5em - 100px);
    width: 2em;
    vertical-align: middle;  */
}

textarea {
    display: block;
    resize: none;
    width: 98%;
    border: none;
    outline: none;
    margin-left: 0.5em;
}

.titleButtonContainer {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: flex-end;
}



.spacer{
    flex-grow: 10;
}

.divider{
    flex-grow: 1;
}

label {
    font-size: 0.75em;
    display: block;
}

.icons {
    display: block;
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
    position: relative;
    top: 10px;

    margin: 0 5px;
    cursor: pointer;
}

.properties{
    margin-bottom: 10px;
}

select {
    height: 1.75em;
    margin-bottom: 0.8em;
}

.trackButton{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
