.card {
    position: relative;
    z-index: 5;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

input.title{
    margin-top: 0em;
    margin-left: 0.5em;
    font-size: 1em;
    outline: none;
    border: 0;
    width: 90%;
    line-height: 3em;
}

.stbutton{
    position: relative;
    top: 5px;
    left: 28px;
    width: 2em;
    vertical-align: middle; 
}

textarea {
    display: block;
    resize: none;
    width: 98%;
    border: none;
    outline: none;
    margin-left: 0.5em;
}

.container {
    display: flex;
    justify-content: flex-end;
}

div.spacer{
    font-size: 0; 
    height: 28px;
    line-height: 0;
}

label {
    font-size: 0.75em;
    display: block;
}

.icons {
    display: block;
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
    position: relative;
    top: 10px;

    margin: 0 5px;
    cursor: pointer;
}

.properties{
    margin-bottom: 10px;
}

select {
    height: 1.75em;
    margin-bottom: 0.8em;
}