.card {
    position: relative;
    z-index: 5;
    background-color: rgb(253, 253, 253);
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

textarea {
    display: block;
    resize: none;
    width: 99%;
    border: none;
    outline: none;
    margin-left: 3px;
}

.properties {
    display: flex;
    justify-content: flex-end;
}

input.title{
    margin-top: 0em;
    font-size: 1em;
    outline: none;
    border: 0;
    width: 99%;
    line-height: 3em;
    margin-left: 3px;
}
div.spacer{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}

label {
    font-size: 0.75em;
    display: block;
}