.dashboard {
    margin-bottom: 30px;

    /* DEV!
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(124, 124, 124);
    */
}

.charts {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 3em;
}