.hover:hover {
    background-color: rgb(230, 230, 230);;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 0 0.5em;
    align-items: center;
}

.title {
    align-self: flex-end;
}

.space {
    flex-grow: 10;
}

.properties {
    font-size: 0.75em;
    
}

.icons {
    display: inline;
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
    position: relative;
    left: 0px;
    vertical-align: center;
    margin-left: 8px;
    margin-right: 2px;
}

.expanded {
    margin: 0 0.5em;
    padding-bottom: 0.5em;
    color: #5f5f5f;
}